@import "_vars";
#flash-content {
  margin: 30px auto;
  border: 1px solid black;
  width: 50%;
  padding: 10px;
  background-color: #0030b0;
  color: #fff;
  p {
    display: block;
    padding: 10px 5px;
    &.notice {
      background-color: #5050c0;
    }
    &.error {
      background-color: red;
    }
  }
}

div.button {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: $color-black;
  color: lighten($color-blue, 30%);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  &:hover {
    background-color: white;
    color: $color-black;
  }
}